doctype html
html
  head
    title Sign Up
    link(rel="stylesheet", href="/resources/css/main.css")
  body.signUp
    nav
      p Share beautiful moments
      a(href="/posts") home
    h1 Create Your Account
    form(action='/signUp', method='post')
        input(type='text', placeholder='Username', name='username', required)
        br
        input(type='password', placeholder='Password', name='password', required)
        br
        input(type='password', placeholder='Confirm Password', name='confirmPassword', required)
        br
        button(type='submit').btn Sign Up
